/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
/****************
 Outline button
*************/
.btn.outline {
    background: none;
    padding: 2px 5px;
}
.btn-info.outline {
    border: 2px solid #5bc0de;
    color: #5bc0de;
    text-shadow: none
}

.btn-success.outline {
    border: 2px solid #5cb85c;
    color: #5cb85c;
    text-shadow: none
}

.btn-danger.outline {
    border: 2px solid #d9534f;
    color: #d9534f;
    text-shadow: none
}

/****************
 Adding top bugger to rows
*************/
.top-buffer { margin-top:10px; }

/* expanding popover width */
.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

div.DTTT {
    margin-bottom: 0.5em;
    float: right;
}

div.carousel-caption {
    bottom: -33px;
    opacity: 0.3;
}

.carousel-indicators {
    opacity: 0.3;
    top: 0px;
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

div.imagesCaro {
  width: 295px;
}

li.paginate_button {
  padding-left: 0px;
  padding-right: 0px;
}

/****************
 Adding well with white background
*************/
.well-white{
min-height:20px;
padding:15px;
margin-bottom:15px;
background-color:white;
border:1px solid #e3e3e3;
border-radius:4px;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
box-shadow:inset 0 1px 1px rgba(0,0,0,.05)}

/****************
 Adding thumbnail with margin-top
*************/
.thumbnail-top {
margin-top:5px;
}
/****************
 Adding css for news feed
*************/

.shortcuts.transparent>div {
    background: transparent
}

.article-date {
    color: #999;
    font-size: 76.9%;
    margin-bottom: .7em
}

.newsArchiveLink {
    padding-left: 5px
}

#news-container {
    display: inline-block;
    width: 100%;
    margin: 0 1.04167%;
    height: 22em;
    vertical-align: top;
    text-align: left
}
@media(min-width:1500px) {
    #news-container {
        height: 30em
    }
}
#news-container h3 {
    padding-left: 5px;
}
#newsection {
    overflow-y: auto;
    overflow-y: none;
    height: 190px;
    clear: right
}
#newsection ul {
    margin: 0;
    padding: 0;
}

#newsection ul li {
    border-bottom: 1px dotted #333;
    padding: 10px 5px 0 5px;
    list-style: none;
}

.icon-right,
div.icon-right {
    float: right;
    margin-left: 10px
}

.icon_rss {
    height: 20px;
    display: inline-block;
    cursor: pointer
}

.icon_facebook {
    height: 20px;
    display: inline-block;
    cursor: pointer
}

.icon_twitter {
    height: 20px;
    display: inline-block;
    cursor: pointer
}

.socialmedia {
    cursor: pointer
}
.lastshortcut {
    margin-right: 10px
}
.shortcuts h3 {
    padding-bottom: 0px;
    font-size: 190%;
    padding-top: 0
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:240px;
}
.col-min {
    /* custom min width */
    min-width:240px;
}
.col-max {
    /* custom max width */
    max-width:240px;
}

