/* style for test page containing emap IIP viewer */

div #emapIIPViewerDiv {
   position: relative;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background: black;
}

div #emapIIPViewerDiv.visible {
   left: 0px;
   background: #fff;
}

/* style for tiled image in emap IIP viewer */

div .tilenum {
   position: absolute;
   width: 35px;
   height: 20px;
   margin: 0px;
   padding: 0px;
   z-index: 2000;
   font-size: 9pt;
   text-align: center;
   vertical-align: middle;
   color: #000;
   background: #cff;
   opacity: 0.7;
}

div .tiledImgLayer {
   position: absolute;
   margin: 0px;
   padding: 0px;
}

div .tiledImgDiv {
   position: absolute;
   z-index: 0;
   cursor: crosshair;
}

div .tiledImgDiv .tile {
   position: absolute;
   margin: 0px;
   padding: 0px;
}

