<?xml version='1.0' encoding='utf-8'?>

<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

  <!-- Global JNDI resources
       Documentation at /docs/jndi-resources-howto.html
  -->
  <GlobalNamingResources>
    <!-- Editable user database that can also be used by
         UserDatabaseRealm to authenticate users
    -->
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <!-- A "Service" is a collection of one or more "Connectors" that share
       a single "Container" Note:  A "Service" is not itself a "Container", 
       so you may not define subcomponents such as "Valves" at this level.
       Documentation at /docs/config/service.html
   -->
  <Service name="Catalina">
    <!-- A "Connector" represents an endpoint by which requests are received
         and responses are returned. Documentation at :
         Java HTTP Connector: /docs/config/http.html (blocking & non-blocking)
         Java AJP  Connector: /docs/config/ajp.html
         APR (HTTP/AJP) Connector: /docs/apr.html
         Define a non-SSL HTTP/1.1 Connector on port 8080
    -->

    <!-- Define a non-SSL HTTP/1.1 Connector on port 8080 -->
    <Connector port="8080" maxHttpHeaderSize="8192"
           maxThreads="150" minSpareThreads="25" maxSpareThreads="75"
           enableLookups="false" redirectPort="8443" acceptCount="100"
           connectionTimeout="20000" disableUploadTimeout="true" />

  <Connector port="8181" maxHttpHeaderSize="8192"
             maxThreads="150" minSpareThreads="25" maxSpareThreads="75"
             proxyName="vfb-karenin.inf.ed.ac.uk" proxyPort="80"
             enableLookups="false" redirectPort="8443" acceptCount="100"
             connectionTimeout="20000" disableUploadTimeout="true"
             useURIValidationHack="false" />

   <Connector port="8182" maxHttpHeaderSize="8192"
              maxThreads="150" minSpareThreads="25" maxSpareThreads="75"
              proxyName="www.virtualflybrain.org" proxyPort="80"
              enableLookups="false" redirectPort="8443" acceptCount="100"
              connectionTimeout="20000" disableUploadTimeout="true"
              useURIValidationHack="false" />


   <Connector port="8183" maxHttpHeaderSize="8192"
            maxThreads="150" minSpareThreads="25" maxSpareThreads="75"
            proxyName="vfbdev.inf.ed.ac.uk" proxyPort="80"
            enableLookups="false" redirectPort="8443" acceptCount="100"
            connectionTimeout="20000" disableUploadTimeout="true"
            useURIValidationHack="false" />
<!-- Not in service:
   <Connector port="8184" maxHttpHeaderSize="8192"
            maxThreads="150" minSpareThreads="25" maxSpareThreads="75"
            proxyName="vfbsandbox.inf.ed.ac.uk" proxyPort="80"
            enableLookups="false" redirectPort="8443" acceptCount="100"
            connectionTimeout="20000" disableUploadTimeout="true"
            useURIValidationHack="false" />
-->
   <Connector port="8185" maxHttpHeaderSize="8192"
            maxThreads="150" minSpareThreads="25" maxSpareThreads="75"
            proxyName="vfbwiki-karenin.inf.ed.ac.uk" proxyPort="80"
            enableLookups="false" redirectPort="8443" acceptCount="100"
            connectionTimeout="20000" disableUploadTimeout="true"
            useURIValidationHack="false" />

   <!-- Define an AJP 1.3 Connector on port 8009 -->
    <Connector port="8009" enableLookups="false" redirectPort="8443" protocol="AJP/1.3" URIEncoding="UTF-8"/>

    <!-- An Engine represents the entry point (within Catalina) that processes
         every request.  The Engine implementation for Tomcat stand alone
         analyzes the HTTP headers included with the request, and passes them
         on to the appropriate Host (virtual host).
         Documentation at /docs/config/engine.html -->

    <Engine name="Catalina" defaultHost="localhost">

      <!-- This Realm uses the UserDatabase configured in the global JNDI
           resources under the key "UserDatabase".  Any edits
           that are performed against this UserDatabase are immediately
           available for use by the Realm.  -->

      <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
             resourceName="UserDatabase"/>

      <!-- Define the default virtual host
           Note: XML Schema validation will not work with Xerces 2.2.
       -->

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true"
            xmlValidation="false" xmlNamespaceAware="false">
      </Host>	

     <Host name="www.virtualflybrain.org" debug="1" appBase="webapps"
           unpackWARS="false" autoDeploy="false" deployOnStartup="false">
           <Context path="" reloadable="true"
               docBase="/disk/data/tomcat/fly/webapps/vfb/">
           </Context>
     </Host>

    <Host name="vfb-karenin.inf.ed.ac.uk" debug="1" appBase="webapps"
        unpackWARS="false" autoDeploy="false" deployOnStartup="false">
        <Context path="" reloadable="true"
	    docBase="/disk/data/tomcat/fly/webapps/GITvfb/">
        </Context>
    </Host>


    <Host name="vfbdev.inf.ed.ac.uk" debug="1" appBase="webapps"
           unpackWARS="false" autoDeploy="false" deployOnStartup="false">
           <Context path="" reloadable="true"
               docBase="/disk/data/tomcat/fly/webapps/vfbdev/">
           </Context>
     </Host>
<!-- Not in service:
    <Host name="vfbsandbox.inf.ed.ac.uk" debug="1" appBase="webapps"
           unpackWARS="false" autoDeploy="false" deployOnStartup="false">
           <Context path="" reloadable="true"
               docBase="/disk/data/tomcat/fly/webapps/vfbsb/">
           </Context>
     </Host>
-->
    <Host name="vfbwiki.inf.ed.ac.uk" debug="1" appBase="webapps"
          unpackWARS="true" autoDeploy="false" deployOnStartup="false">
          <Context path="" reloadable="true"
	          docBase="/disk/data/tomcat/fly/webapps/vfbwiki/">
          </Context>
    </Host>

    </Engine>
  </Service>
</Server>
