/* 
  ------------------------------------
  PVII Menu CSS Express Drop-Down Menu
  by Project Seven Development
  www.projectseven.com
  ------------------------------------
*/
#menuwrapper {
	border-top: 1px solid #000;
	border-bottom: 1px solid #333;
	background-color: #909090;
/*	background-image: url(images/p7exp_mbar.jpg);
	background-repeat: repeat-x;*/ 
}
.clearit {
	clear: both;
	height: 0;
	line-height: 0.0;
	font-size: 0;
}
#p7menubar, #p7menubar ul {
	padding: 0;
	margin: 0;
	list-style: none;
/*	font-family: Arial, Helvetica, sans-serif;*/
}
#p7menubar a {
	display: block;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	border-right: 1px solid #777;
	font-size: .85em;
	color: #FFF;
	font-weight:bold;
}
#p7menubar a.trigger {
	padding: 5px 16px 5px 10px;
}
#p7menubar li {
	float: left;
	width: 9em;
}
#p7menubar li {position: relative;}

/* hide from IE mac \*/
#p7menubar li {position: static; width: auto;}
/* end hiding from IE5 mac */

#p7menubar li ul, #p7menubar ul li  {
	width: 12em;
}
#p7menubar ul li a  {
	color: #565656;
	border-right: 0;
	padding: 3px 12px 3px 16px;
}
#p7menubar li ul {
	position: absolute;
	display: none;
	background-color: #909090;
	border: 1px solid #333333;
}
#p7menubar li:hover a, #p7menubar a:focus,
#p7menubar a:active, #p7menubar li.p7hvr a {
	color: #FFF;
	background-color: #223355;
}
#p7menubar li:hover ul, #p7menubar li.p7hvr ul {
	display: block;
}
#p7menubar li:hover ul a, #p7menubar li.p7hvr ul a {
	color: #FFF;
	background-color: transparent;
}
#p7menubar ul a:hover {
	background-color: #223355!important;
	color: #FFFFFF !important;
}

