table.basic {
	border-width: 1px;
	border-spacing: 0px;
	border-collapse: collapse;
	margin:auto;
}
table.basic th {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #CCC;
	background-color:#DDD;
	color:#555;
}
table.basic td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #CCC;
}
