/******* Global ********/
html, body {
	color:#666;
}

a {
	cursor:pointer;
	text-decoration:none;
	font-size:11pt;
}

a:hover{
/*	color:blue; */
	text-decoration:underline;
}

#wrapper_basic {
	  height:514px;
	  position:relative;
	  margin:-8px;
}

#center_panel {
	height:514px; 
	width:514px;
}

#right_panel {
    position: absolute;
    left: 516px;
    top: 0;
	width:300px;
	height:512px;
	border: 1px solid gray;
}

#search {
	border-left:1px solid gray;
	border-right:1px solid gray;
	border-top:1px solid gray;
	height:104px;
	position:relative;
}

#search_text {
    margin: -14px 5px;
    position: absolute;
    top: 70px;
    width: 95%;
}

#annotation {
	width:806px;
	border:1px solid gray;
	overflow:auto;
	top:1px;
	position:relative;
	padding:5px;
}

.panel_header{
	font-size:1em;
	margin:5px 5px 0;
}

.info_block{
	padding:5px;
	border-bottom:2px dotted gray;
}

.no_border{
	border:none;
}

/******** Header layout and helper divs ***********/
#body_wrapper {
	position:relative;
	margin-top:2px;
}

#content {
	margin:0;
}


