/******* Global ********/
html, body {
	height:100%; /* this is the key! */
	padding:0;
}

body {
    font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif;
    color: #666;
}
	
#wrapper {
	  top: 1px;
	  margin: auto;
	  min-width:996px;
	  width:100%;
}

#contentwrapper{
	float:left;
	width: 100%;
	margin-top:2px;
}

#center_wide {
	background:#FAFAFA;
	border:1px solid gray;
	width:971px;
	padding:5px;
	/*min-height:1520px;*/
	float:left;
}

#right_panel{
	float:left;
	margin-left:2px;
}

#search {
	border-left:1px solid gray;
	border-right:1px solid gray;
	border-top:1px solid gray;
	height:16%;
	width:100%;
}

.panel_header{
	font-size:1em;
	margin:5px 5px 0;
}

.info_block{
	padding:5px;
	border-bottom:2px dotted gray;
}

.no_border{
	border:none;
}

/******** Header layout and helper divs ***********/
#body_wrapper {
	position:relative;
	margin-top:2px;
}
/***************** Layout elements for home page ********/
div.icon {
	border:1px solid gray; 
	height:180px; 
	width:226px; 
	border-radius:10px; 
	margin: 10px; 
	text-align: center; 
	float: left;
}

div.icon:hover{
	background-color:#EEE;
}
