<?xml version="1.0" encoding="UTF-8"?>

<!--	No data beans here!!!
		All pointers/servlet config, error processors go here springmvc-servlet.xml
		Put all data beans in application-context.xml
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd ">

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- Single Ont entity by fbbtId -->
	<bean name="/do/ont_bean.html" class="uk.ac.ed.vfb.web.OntBeanController"
		scope="session">
		<property name="obm" ref="ontBeanManager" />
		<property name="pbm" ref="pubBeanManager" />
	</bean>

	<!-- tomcat logfile -->
	<bean name="/do/tomcat.html" class="uk.ac.ed.vfb.web.logs.tomcatController" scope="request">
	</bean>

	<!-- tomcat logfile -->
	<bean name="/do/ontServer.html" class="uk.ac.ed.vfb.web.logs.ontServerController" scope="request">
	</bean>

	<!-- geppetto xml -->
	<bean name="/do/geppettoXml.xml" class="uk.ac.ed.vfb.web.xmlController" scope="request">
	</bean>

	<!-- geppetto Js -->
	<bean name="/do/geppettoJs.html" class="uk.ac.ed.vfb.web.jsController" scope="request">
	</bean>

	<!-- geppetto json -->
	<bean name="/do/geppettoJson.json" class="uk.ac.ed.vfb.web.geppettoController" scope="request">
	</bean>

	<!-- List of beans as result of an OWL query -->
	<bean name="/do/ont_bean_list.html" class="uk.ac.ed.vfb.web.OntBeanListController"
		scope="session">
		<property name="obm" ref="ontBeanManager" />
	</bean>

	<!-- List of gene beans as result to chado query -->
	<bean name="/do/gene_list.html" class="uk.ac.ed.vfb.web.GeneListController"
		scope="session">
		<property name="obm" ref="ontBeanManager" />
		<property name="gbm" ref="geneBeanManager" />
	</bean>

	<!-- Build a ontology query -->
	<bean name="/do/query_builder.html" class="uk.ac.ed.vfb.ont_query.web.OntQueryController"
		scope="request">
		<property name="ontQuery" ref="ontQueryManager" />
		<property name="obm" ref="ontBeanManager" />
		<property name="acd" ref="autocompleteDAONeuropil" />
	</bean>

	<!-- Build a ontology query -->
	<bean name="/do/ont_query_result.html" class="uk.ac.ed.vfb.ont_query.web.OntQueryListController"
		scope="request">
		<property name="ontQuery" ref="ontQueryManager" />
		<property name="obm" ref="ontBeanManager" />
		<!-- property name="formView" value="ont_query/queryBuilder" / -->
	</bean>

	<!-- List of neuron clusters as result of an OWL query -->
	<bean name="/do/cluster_list.html" class="uk.ac.ed.vfb.web.ClusterListController" scope="request">
		<property name="obm" ref="ontBeanManager" />
	</bean>

	<!-- List of beans as result of an OWL query -->
	<bean name="/do/individual_list.html" class="uk.ac.ed.vfb.web.IndividualListController" scope="request">
		<property name="obm" ref="ontBeanManager" />
		<property name="vfbDS" ref="vfbDataSource" />
	</bean>

	<!-- List of beans as result of an OWL query -->
	<bean name="/do/individual_film_strip.html" class="uk.ac.ed.vfb.web.IndividualFlmStripController" scope="request">
		<property name="obm" ref="ontBeanManager" />
	</bean>

	<!-- Autocomplete servlet for all anatomy -->
	<bean name="/do/autocomplete_list.html" class="uk.ac.ed.vfb.web.AutocompleteController" scope="request">
		<property name="autocompleteDAO" ref="autocompleteDAOAll" />
	</bean>

	<!-- Autocomplete servlet for neuropils -->
	<bean name="/do/autocomplete_list_neuropil.html" class="uk.ac.ed.vfb.web.AutocompleteController" scope="request">
		<property name="autocompleteDAO" ref="autocompleteDAONeuropil" />
	</bean>

	<!-- Autocomplete servlet for adult brain anatomy -->
	<bean name="/do/autocomplete_list_adultbrain.html" class="uk.ac.ed.vfb.web.AutocompleteController" scope="request">
		<property name="autocompleteDAO" ref="autocompleteDAOAB" />
	</bean>

	<!-- Controller for Json files (IIP3D metadata) -->
	<bean name="/do/get_json.html" class="uk.ac.ed.vfb.web.JsonController" scope="request">
	</bean>



</beans>
